//paddings
.p {
  &-0 {
    padding: 0;
  }
  &-1 {
    padding: 0.25rem;
  }
  &-2 {
    padding: 0.5rem;
  }
  &-3 {
    padding: 1rem;
  }
  &-4 {
    padding: 2rem;
  }
  &-5 {
    padding: 3rem;
  }
  &x {
    &-0 {
      padding-left: 0;
      padding-right: 0;
    }
    &-1 {
      padding-left: 0.25rem;
      padding-right: 0.25rem;
    }
    &-2 {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
    &-3 {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    &-4 {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    &-5 {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }
  &y {
    &-0 {
      padding-top: 0;
      padding-bottom: 0;
    }
    &-1 {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }
    &-2 {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
    &-3 {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    &-4 {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
    &-5 {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }
  &b {
    &-0 {
      padding-bottom: 0;
    }
    &-1 {
      padding-bottom: 0.25rem;
    }
    &-2 {
      padding-bottom: 0.5rem;
    }
    &-3 {
      padding-bottom: 1rem;
    }
    &-4 {
      padding-bottom: 2rem;
    }
    &-5 {
      padding-bottom: 3rem;
    }
  }
  &t {
    &-0 {
      padding-top: 0;
    }
    &-1 {
      padding-top: 0.25rem;
    }
    &-2 {
      padding-top: 0.5rem;
    }
    &-3 {
      padding-top: 1rem;
    }
    &-4 {
      padding-top: 2rem;
    }
    &-5 {
      padding-top: 3rem;
    }
  }
}

//margins
.m {
  &-0 {
    margin: 0;
  }
  &-1 {
    margin: 0.25rem;
  }
  &-2 {
    margin: 0.5rem;
  }
  &-3 {
    margin: 1rem;
  }
  &-4 {
    margin: 2rem;
  }
  &-5 {
    margin: 3rem;
  }
  &x {
    &-0 {
      margin-left: 0;
      margin-right: 0;
    }
    &-1 {
      margin-left: 0.25rem;
      margin-right: 0.25rem;
    }
    &-2 {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
    &-3 {
      margin-left: 1rem;
      margin-right: 1rem;
    }
    &-4 {
      margin-left: 2rem;
      margin-right: 2rem;
    }
    &-5 {
      margin-left: 3rem;
      margin-right: 3rem;
    }
  }
  &y {
    &-0 {
      margin-top: 0;
      margin-bottom: 0;
    }
    &-1 {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }
    &-2 {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
    &-3 {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    &-4 {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    &-5 {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  }
  &t {
    &-0 {
      margin-top: 0;
    }
    &-1 {
      margin-top: 0.25rem;
    }
    &-2 {
      margin-top: 0.5rem;
    }
    &-3 {
      margin-top: 1rem;
    }
    &-4 {
      margin-top: 2rem;
    }
    &-5 {
      margin-top: 3rem;
    }
  }
  &b {
    &-0 {
      margin-bottom: 0;
    }
    &-1 {
      margin-bottom: 0.25rem;
    }
    &-2 {
      margin-bottom: 0.5rem;
    }
    &-3 {
      margin-bottom: 1rem;
    }
    &-4 {
      margin-bottom: 2rem;
    }
    &-5 {
      margin-bottom: 3rem;
    }
  }
}

// flex classes
.flex {
  &-row {
    display: flex;
    flex-direction: row;
  }
  &-column {
    display: flex;
    flex-direction: column;
  }
  &-lg-row {
    @media (min-width: 992px) {
      display: flex;
      flex-direction: row;
    }
  }
  &-lg-column {
    @media (min-width: 992px) {
      display: flex;
      flex-direction: column;
    }
  }
}

.jc-center {
  justify-content: center;
}

.jc-sb {
  justify-content: space-between;
}

.ai-c {
  align-items: center;
}

//height
.vh-100 {
  height: 100vh;
}

//display
.d-sm-none {
  @media (max-width: 991.98px) {
    display: none;
  }
}
.d-lg-none {
  @media (min-width: 992px) {
    display: none;
  }
}

//border
.border {
  border-radius: 15px;
  &-top {
    border-radius: 15px 15px 0px 0px;
  }
  &-right {
    border-radius: 0px 15px 15px 0px;
  }
}

//buttons
.btn-primary {
  background-color: Blue;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 1rem;
}

.btn-primary:hover {
  background-color: hsl(245, 73%, 48%);
}
.btn-cancel {
  background-color: white;
  border: none;
  color: lightblue;
  font-weight: 700;
  font-size: 1rem;
}
.btn-cancel:hover {
  color: red;
  box-shadow: 0.1rem 0.25rem 0.1rem rgb(240, 240, 240);
}
